#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp A  &kp B  &kp C
            >;
        };

        // ZMK Studio needs this extra layer to store your changes
        extra_layer {
            status = "reserved";
        };
    };
};
