/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <&kp A &kp B &kp C>;
        };

        // This layer is required for Studio to store new mappings
        extra_layer {
            status = "reserved";
        };
    };
};
