#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Base";
            bindings = <
                &kp C &kp N5 &kp N9
                &kp D &kp N6 &kp N0
                &kp G &kp N7 &kp MINUS
                &kp N4 &kp N8 &kp EQUAL
            >;
        };
        extra_layer { status = "reserved"; };
    };
};
